* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}


body {
    font-family: "Plus Jakarta Sans", sans-serif ;
    color: #333;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #f8d1e5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo img {
    width: 120px;
}

main {
    flex: 1;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
nav ul li a:hover {
    color: blue;
}
.register-link a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
.register-link a:hover{
    color: blue;
}

.categories h1 {
    text-align: center;
    color: #4b2e83;
    padding: 2%;
}

h2{
    color: #4b2e83;
    padding-left: 3%;
}

.category-buttons {
    text-align: center;
    margin-bottom: 20px;
}

.category-buttons button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #4b2e83;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: 50px;
}

.category-buttons button:hover {
    background-color: #6a3fb4;
}

.item-grid {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.item {
    text-align: center;
    width: 30%;
}

.item img {
    width: 350px;
    height: 200px;
    border-radius: 10px;
}

.scroll-to-top {
    padding: 10px 20px;
    background-color: #4b2e83;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 100%;
    display: block;
    margin-left: auto;
    border-radius: 50px;
    margin-right:50px;
    margin-bottom:30px;
    margin-top: 20px;
    width: auto;
    z-index: 100;
    position: fixed;
    right: 5rem;
    bottom: 1rem;
    display: none;
}
.scroll-to-top:hover{
    background-color: #6a3fb4;
}

footer {
    background-color: #f8d1e5;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}
.social-links a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
